body{
    background-color: black;
    overflow:hidden;
}
#scores{
    color: #ffffff;
    font-size : 3vw;
    position: absolute;
    top: 0;
    width: 100%;
}

.score{
    color: #ffffff
}
.name{
    font-size: 2vw;
}